<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to upload pictures.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.303494541957-2gj7v5hsb9fcbhkeplen528sjpb2nscu</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>303494541957-2gj7v5hsb9fcbhkeplen528sjpb2nscu.apps.googleusercontent.com</string>
	<key>UIMainStoryboardFile~iphone</key>
	<string>Home</string>
	<key>Endpoint</key>
	<string>https://</string>
</dict>
</plist>
