../.DS_Store
PlayBox.xcodeproj/project.xcworkspace/xcshareddata/
PlayBox.xcodeproj/xcuserdata/thejas.xcuserdatad/xcdebugger/
PlayBox.xcodeproj/project.xcworkspace/xcuserdata/thejas.xcuserdatad/UserInterfaceState.xcuserstate